<div class="col=lg-2 float-xs-left">
							<div class="text-center"><i class="fa fa-info-circle" aria-hidden="true"></i></div>
							<div>Information</div>
						</div>
						<div class="col=lg-2 float-xs-left">
						<div class="text-center"><i class="fa fa-calendar-o" aria-hidden="true"></i></div>
						<div>Parameters</div>
					</div>
			        <button type="button" class=" col-lg-1 offset-lg-5 btn btn-secondary" ng-click="fstSection = !fstSection"><i class="fa fa-angle-left"  aria-hidden="true"></i></button>
			        <button type="button" class=" col-lg-2  btn btn-Primary" ng-click="generate(details)" ng-show="saveShow">Generate</button>
							<button type="button" class=" col-lg-2 btn btn-secondary" ng-click="save(details)" ng-hide="saveShow">Save</button>
